<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Sign Up</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signupForm">
                <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span>
                        <input formControlName="firstName" type="text" placeholder="FirstName" />
                    </div>
                  </div>
                  <small *ngIf="signupForm.controls['firstName'].dirty && signupForm.hasError('required','firstName')" class="text-danger">*FirstName is required!</small>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span>
                        <input formControlName="lastName" type="text" placeholder="LastName" />
                    </div>
                  </div>
                  <small *ngIf="signupForm.controls['lastName'].dirty && signupForm.hasError('required','lastName')" class="text-danger">*LastName is required!</small>
                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span>
                        <input formControlName="email" type="text" placeholder="Email" />
                    </div>
                  </div>
                  <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">*Email is required!</small>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                    <input formControlName="userName" type="text" placeholder="Username" />
                </div>
              </div>
              <small *ngIf="signupForm.controls['userName'].dirty && signupForm.hasError('required','userName')" class="text-danger">*Username is required!</small>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="password" [type]="type" placeholder="Password" />
                  <span
                    class="fa {{ eyeIcon }}"
                    (click)="hideShowPass()"
                  ></span>
                </div>
              </div>
              <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*Password is required!</small>
              <button
                (click)="onSignup()"
                type="submit"
                class="btn btn-primary btn btn-block mt-4 w-100"
              >
                Sign Up
              </button>
              <div class="text-center pt-4 text-muted">
                Already have an account?
                <a id="forget" routerLink="/login">Sign Up</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
