# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.v2
.vsidx
.cache
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
AngularAuthAPI/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.AssemblyInfoInputs.cache
AngularAuthAPI/.vs/AngularAuthAPI/DesignTimeBuild/.dtbcache.v2
AngularAuthAPI/.vs/AngularAuthAPI/FileContentIndex/7ce958a3-2b0c-45da-ac7a-78b2281cafd2.vsidx
AngularAuthAPI/.vs/AngularAuthAPI/v17/.suo
AngularAuthAPI/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.csproj.FileListAbsolute.txt
AngularAuthAPI/AngularAuthAPI/obj/Release/net8.0/AngularAuthAPI.csproj.CoreCompileInputs.cache
